.Canvas {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0; 
		bottom: 0;




	&>div 	{
		position: absolute; 
		left: 0; 
		right: 0; 
		top: 0; 
		bottom: 0; 
		&>canvas {
			position: absolute; 
			left: 0; 
			right: 0; 
			top: 0; 
			bottom: 0; 
		}
	}		
}
